.body {
    font-family: "Montserrat", sans-serif;
}

.navbar {
    position: relative;
    z-index: 1;
}

.site-nav{
    position: absolute;
    top: 0;
    right: 30px;
    left: 30px;
    z-index: 99;
}

.logo-ukuran {
    width: 50px;
    margin-left: -40px;
}

.nav-link {
    margin-right: 30px;
}

.jumbotron{
    background-image: url(peakpx\ \(1\).jpg);
    background-size: cover;
    height: 690px;
    color: white;
    position: relative;
}

.jumbotron .container{
    z-index: 1;
    position: relative;
}

.jumbotron::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    position: absolute;
    bottom: 0;
}

.jumbotron .display-4{
    margin-top: 150px;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    font-size: 24px;
    margin-bottom: 30px;
    padding-left: 20px;
}

.jumbotron .lead{
    padding-left: 20px;
}

.jumbotron .display-4 span{
    font-weight: 500;
}

.delayed-text{
    opacity: 0;
    animation: fadeIn 1.5s forwards;
}

.afandi-posisi-foto{
    justify-content: center;
}

.ukuran-foto{
    margin-top: 2rem;
    width: 240px;
    margin-right: 4.8rem;
    align-items: center;
    justify-content: center;
    height: auto;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.about {
    background: url(peakpx\ \(1\).jpg);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 916px;
    display: flex;
    align-items: center;
}

.about .titlepage {
    padding-bottom: 0;
}

.about .titlepage h2 {
    color: white;
}

.about .titlepage p {
    line-height: 33px;
    padding-top: 30px;
    color: white;
    font-weight: 400;
    padding-bottom: 80px;
}

.about_box_img figure {
    margin: 0;
}

.about_box_img figure img {
    width: 100%;
}



@media (min-width: 992px) {
    .navbar-brand, .nav-link{
        color: white !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    }

    .nav-link {
        margin-right: 30px;
    }

    .jumbotron{
        margin-top: -75px;
    }

    .jumbotron .display-4 {
        font-size: 32px;
    }
}